.balance-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Baloo Da 2", serif;
    font-weight: bold;
    
  }
  
.balance-header{
    font-size:40rem;
}

  .income-expense-home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-left:8rem;
  }
  
  .plus-home,
  .minus-home {
    flex-basis: 50%;
    font-family: "Baloo Da 2", serif;
  }
  