
.add-income {
    display: flex;
    margin-top:-20rem;
    margin-left: 51%;
    grid-column: 1; /* first column */
    grid-row: 1;
    
  }

  .add-expense {
    display: flex;
    grid-column: 2; /* second column */
    grid-row: 1;
    margin-left: 5%;
  }
  
.transaction-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

  .box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #68d18b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  