.searchBarDiv {
  font-family: "Baloo Da 2", serif;
    display: flex;
    flex-direction: row;
    width: 330px;
}

.searchBack {
    background-color:lightgray;
}

.searchWrapper{
  font-family: "Baloo Da 2", serif;
    margin-bottom: 15px;
}

ul {
  font-family: "Baloo Da 2", serif;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}

.searchEntry {
  flex-grow: 1;
  border-style:solid;
  border-color:black;
  border-width: 2px;
  margin-top: 1px;
  text-align: center;
}
