@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Muli:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");


.amounts{
    font-size:110%
    
}

.calc-header-font{
    font-family: "Baloo Da 2", serif;
    font-size: 3rem;
    letter-spacing: 0.0001rem;
    text-align: center;
    margin-top:-3rem;
    margin-bottom: .5rem;
}

.calc-font-small{
    font-family: "Baloo Da 2", serif;
    font-size: 1rem;
    letter-spacing: 0.001rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.calc-amount-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    
  }
  
  .calc-amount-head {
    margin-top: 10px;
    margin-bottom: 16px;
    font-family: "Baloo Da 2", serif;
    font-size: 3rem;
    text-align: center;
  }
  
  .amounts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 8rem;
    text-align: center;
    font-family: "Baloo Da 2", serif;
  }
  
  .amounts li {
    margin-bottom: 8px;
    font-size: 20px;
  }
  