
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.forms-title{
    margin-top: -100px;
    margin: 0 auto;
    font-size: 3rem;
    justify-content: center;
    align-content: center;
    font-family: "Baloo Da 2", serif;
    align-items: center;
    display: flex;

}
.colored-word {
    color: green;
  }
  


.forms-smaller{
    margin: 0 auto; /* centers the div horizontally */
  /* add some padding to the top and bottom of the div */
  padding: 10px 0;
  text-align:center;
    font-family: "Baloo Da 2", serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 400px;
}

.box-forms {
    margin: 0 auto; 
    font-family: "Baloo Da 2", serif;
    position: relative;
    width: 350px;
    background: rgba(86, 177, 113, 0.712);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-forms {
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    position: relative;
}

.error-forms {
    width: 100%;
    border-radius: inherit;
    background: rgba(209, 153, 153, 0.993);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 15px 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-forms h2 {
    color: #fff;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-bottom: 40px;
}

.form-forms h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 4px;
    border-radius: 5px;
    background: #fff;
}

.form-forms .title {
    align-content: center;
    margin-left: 5px;
}


.form-forms .inputfield-forms {
    width: 100%;
    margin-top: 20px;
}

.form-forms .inputfield-forms input {
    width: 100%;
    background: rgba(225, 225, 225, 0.2);
    outline: none;
    border: none;
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form-forms .inputfield-forms input::placeholder {
    color: #fff;
    text-transform: capitalize;

}



.form-forms .inputfield-forms input:focus {
    border-bottom: 4px solid#fff;
    background: transparent;
}

.form-forms .inputfield-forms input[type="submit"] {
    color: rgb(255, 254, 254);
    background: rgb(97, 97, 97);
    max-width: 100px;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300;
    cursor: pointer;
}

.forget-forms {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.forget-forms .link {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}


